@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto+Mono:wght@500&family=Ubuntu&display=swap');

:root {
    --c1: #50514f;
    --c2: #b4adea;
    --c3: #FDFFF7;
    --c4: #59FFA0;
    --c5: #FFED65;
}

body {
    background-color: var(--c1);
}

/* Navbar */
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
#navbar li {
    float: left;
    font-family: "Ubuntu";
}
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
#mavbar li a:hover:not(.active) {
    background-color: #111;
}
  
#navbar .active {
    background-color: var(--c4);
    color: #000;
}

/* Start */
#start {
    text-align: center;
}
#start h1 {
    font-size: 75px;
    font-family: "Mochiy Pop One";
    margin-bottom: -20px;
}
#start h2 {
    font-family: "Ubuntu";
    font-size: 20px;
}

#count {
    font-family: "Roboto Mono";
    text-align: center;
    margin-top: 100px;
}
#count h1 {
    margin-top: -30px;
    margin-bottom: -30px;
    font-size: 75px;
}